<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Ein Ort zum Wohlfühlen | <span class="text-muted">Für Mensch und Tier</span></h2>
      <p class="lead">Unser kleiner Stall bietet für Mensch und Tier einen ruhigen Rückzugsort. <br>Unsere Boxen sind von der Firma Sulzberger und jede Box hat ein eigenes Paddock und eine eigene Koppel. Die Koppel befindet sich direkt an dem Paddock wodurch diese den Pferden den ganzen Tag zur Verfügung steht. 
        <br> Unsere Boxen sind sowohl für Ponys als auch Großpferde geeignet. Die Maße sind: 
        <ul class="lead">
            <li>Boxen: 3m * 3.75m</li>
            <li>Paddock: 3m * 4m </li>
        </ul>
        <p class="lead">Somit ist für alle Pferde genug Platz. Zusätzlich verfügen wir auch noch über eine Sommerkoppel, welche gemeinsam von allen Einstellern genutzt werden kann. <br><br> Für die Bewegung der Pferde verfügen wir über einen Außenreitplatz. Dieser besitzt einen Sandboden und eine Größe von ca. 20m * 40m 
        <br> Direkt vom Hof aus erschließt sich ein schönes und weitläufiges Ausreitgelände, welches zu langen Ausritten oder spaziergängen einlädt.
        </p>
      </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto " width="550" height="750" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"> <image class="img-thumbnail align-top" href="/assets/images/pferdstall2.jpeg" height="105%" width="105%"/></svg>
    </div>
  </div>


  <hr class="featurette-divider">

  
    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/assets/images/pferde/pferdstall2.jpeg">
                    <img src="/assets/images/pferde/pferdstall2.jpeg" alt="Stall außen 2">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="/assets/images/pferde/pferdstall3.jpeg">
                    <img src="/assets/images/pferdstall3.jpeg" alt="Boxen front">
                </a>
            </div>
          
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/assets/images/pferde/pferdstall6.jpeg">
                    <img src="/assets/images/pferde/pferdstall6.jpeg" alt="Paddock ansicht">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="/assets/images/pferde/pferdstall7.jpeg">
                    <img src="/assets/images/pferde/pferdstall7.jpeg" alt="Traffic">
                </a>
            </div>
        </div>

    </div>



<script href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>