<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Unser Automat | <span class="text-muted">24/7 für Sie direkt vor Ort</span></h2>
      <p class="lead">In Kürze finden Sie auch einen Automaten, welcher 24/7 für Sie einige unserer Lieblingsprodukte bereithält.</p>
      </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="550" height="650" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"> <image href="/assets/images/hofladen/hofladen.jpg"/></svg>
    </div>
  </div>
