<!-- Contact Us Section -->
  <section class="Material-contact-section section-padding section-dark">
    <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="section-title">We love to MEAT you!</h1>
            </div>
        </div>
        <div class="row lead">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
              <p>Haben Sie noch Fragen?<br> Bitte zögern Sie nicht, uns zu kontaktieren. Wir werden uns sobald es Möglich ist bei Ihnen melden, um Ihnen zu helfen.</p>
              <br>
              <div class="find-widget">
                Limousinhof Kästel
               </div>
              <div class="find-widget">
               Elke und Karl-Heinz Kästel
              </div>
              <div class="find-widget">
               76669 Bad Schönborn, Bruchsiedlung 3
              </div>
              <div class="find-widget">
                Tel:  07253/70418
              </div>
              <div class="find-widget">
                 Fax: 07253/932857
              </div>
              <br><br>
              <div class="find-widget">
                Öffnungszeiten: 
                <ul><li>Donnerstag 15:00 - 18:00 Uhr</li><li>Freitag 11:00 - 18:00</li></ul>
             </div>
            </div>
            <!-- contact form -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                    <!-- Name -->
                    <div class="form-group label-floating">
                      <label class="control-label" for="name">Ihr Name</label>
                      <input class="form-control" id="name" type="text" name="name" required data-error="Bitte geben Sie Ihren Namen ein">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- email -->
                    <div class="form-group label-floating">
                      <label class="control-label" for="email">Ihre Email Adresse</label>
                      <input class="form-control" id="email" type="email" name="email" required data-error="Bitte geben Sie Ihre Email Adresse ein">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- phone -->
                    <div class="form-group label-floating">
                        <label class="control-label" for="email">Ihre Telefon Nummer</label>
                        <input class="form-control" id="phone" type="phone" name="phone" required data-error="Bitte geben Sie Ihre Telefonnummer an, damit wir Sie bei Rückfragen erreichen können.">
                        <div class="help-block with-errors"></div>
                      </div>
                    <!-- Subject -->
                    <div class="form-group label-floating">
                      <label class="control-label">Betreff</label>
                      <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Bitte geben Sie einen Betreff an">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- Message -->
                    <div class="form-group label-floating">
                        <label for="message" class="control-label">Message</label>
                        <textarea class="form-control" rows="3" id="message" name="message" required data-error="Bitte geben Sie Ihre Nachricht oder Frage ein"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Form Submit -->
                    <div class="form-submit mt-5">
                        <button class="btn btn-light" type="submit" id="form-submit">Nachricht absenden</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>
  <hr class="featurette-divider">
