<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Unser Sortiment | <span class="text-muted">Mehr als nur Fleisch</span></h2>
        <p class="lead">In unserem Hofladen erhalten Sie Fleisch- und Wurstwaren unserer Rinder aus eigener Schlachtung und Verarbeitung</p>
        <h5>Fleischwaren:</h5>
          <ul class="lead">
            <li>Gulasch - Pfannenfertig geschnitten</li>
            <li>Hackfleisch</li>
            <li>Rouladen</li>
            <li>Steaks</li>
            <li>Fleischpaket - Hackfleisch, Rouladen, Steaks, Braten, Gulasch, Suppenfleisch (ca. 10 kg) </li>
          </ul>
          <h5>Wurstwaren:</h5>
          <ul class="lead">
            <li>Rinderwurst</li>
            <li>Rinderschinken</li>
            <li>Rindersalami</li>
            <li>Hausmacher Blut- & Leberwurst</li>
            <li>Dosenwurst - Leber-, Blut-, Schinken-, Paprika-, Bier und Bratwurst</li>
          </ul>
          <p class="lead">Neben Rindfleisch bieten wir auch einige Produkte aus Schweinefleisch an. Diese Beziehen wir <strong>Name wo her</strong></p>
          <h5>Schwein</h5>
          <ul>
            <li></li>
          </ul>
          <p class="lead">Zusätzlich zu Fleisch und Wurstwaren bieten wir auch noch weitere Produkte aus der Region in unserem Hofladen an. Diese beziehen wir von verschiedenen Regionalen Landwirten.</p>
          <h5>Regionale Produkte:</h5>
          <ul class="lead">
            <li>Nudeln - verschiedene Sorten </li>
            <li>Speisekartoffeln - Handelsklasse 1, vorwiegend festkochend</li>
            <li>Marmelade - verschiedene Sorten</li>
            <li>Badner Weine - Rotwein, Riesling, Weißherbst und Spätburgunder - 0,75l oder 0,5l </li>
            <li>Sekt aus dem Markgräflerland - Riesling und Rose -0,75l </li>
            <li>Eier</li>
          </ul>
          
      
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="550" height="650" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"> <image href="/assets/images/hofladen.jpg"/></svg>
    </div>
  </div>
