<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Unser Hofladen | <span class="text-muted">Wir für Sie direkt vor Ort</span></h2>
      <p class="lead">In unserem Hofladen erhalten Sie Fleisch- und Wurstwaren von unseren Rindern aus eigener Schlachtung und Verarbeitung, sowie Schweinefleisch und weitere Naturprodukte von befreundeten Landwirten aus der Region.
        Da wir als Direktvermarkter nicht größere Mengen aller Fleisch- und Wurstsorten vorhalten können, bitten wir um Ihr Verständnis, sollte mal das eine oder andere Produkt vergriffen sein. Uns ist Qualität und Frische wichtig, und das nicht nur weil Sie dies von uns erwarten!
        <br> Gerne können Sie auch Ihre Waren vorbestellen. Wir richten dann schon alles und Sie brauchen nur noch zum Abholen vorbei kommen.
        <br><br><h5>Unsere Öffnungszeiten sind:</h5>
        <ul class="lead">
          <li>Donnerstag: 15:00 - 18:00 Uhr</li>
          <li>Freitag: 11:00 - 18:00 Uhr</li>
          <li>An Feiertagen haben wir geschlossen</li> 
        </ul>
      </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="550" height="650" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"> <image href="/assets/images/hofladen/hofladen2.jpeg" height="105%" width="105%"/></svg>
    </div>
  </div>